<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><%= title %></a>
        <div class="links">
          <a href="/file/new">Upload File</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <h1><%= title %></h1>
      <section class="file-info">
        <div class="time">
          <p class="muted"><%= file.createdAt.toISOString().split('T')[0] %></p>
          <p class="muted">
            <%= file.createdAt.toISOString().split('T')[1].split('.')[0] %>
          </p>
        </div>
        <p class="muted">
          <%= (() => { let bytes = file.size; let units = ["B", "KB", "MB",
          "GB"]; let i; for (i = 0; i < units.length - 1 && bytes >= 1024; i++)
          { bytes /= 1024; } return bytes.toFixed(2) + " " + units[i]; })() %>
        </p>
      </section>
      <section class="opts-file">
        <a href='<%= file.url + "?download" %>' class="button">Download</a>
        <a href="/file/delete/<%= file.id %>" class="delete">Delete</a>
        <a href="/file/update/<%=file.id%>" class="button">Update</a>
      </section>
    </main>
  </body>
</html>
