<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <% if (user) { %>
    <header>
      <nav>
        <a href="/"><%= title %></a>
        <div class="links">
          <a href="/file/new">Upload File</a>
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <main>
      <h1>Welcome, <%= user.name %></h1>
      <div class="folders">
        <% folders.forEach((folder) => { %>
        <div class="folder">
          <a href="/folder/<%= folder.id %>"><%= folder.name %></a>
        </div>
        <% }) %>
      </div>
      <div class="files">
        <% files.forEach((file) => { %>
        <div class="file">
          <a href="/file/<%= file.id %>"><%= file.name %></a>
        </div>
        <% }) %>
      </div>
      <a href="/file/new">Upload a file</a>
      <a href="/folder/new">Create Folder</a>
    </main>
    <% } else { %>
    <!-- Code that should never be seen because user should be redirected to /signup instantly -->
    <header>
      <nav>
        <a href="/"> <%= title %> </a>
        <div class="links">
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
        </div>
      </nav>
    </header>
    <% } %>
  </body>
</html>
